/* Configuracion general */
* { box-sizing: border-box; }
body { overflow-x: hidden; }
ul { list-style-type: none; }
a, a:link, a:visited, a:active, a:hover { text-decoration:none; }

/* Configuracion */
.container { width: 100%; height: 100%; }
.list-container { background-color: rgb(170, 217, 233); padding: 10px;
    border-radius: 3%; height: 380px; }

ul.contact-list { margin: 0; padding: 10px; height: 100%; width: 33.33%;
    color: black; float: left; }

li.contact-list { padding: 10px; background-color: rgb(170, 217, 233); height: 100%; }

li.contact-list, .card a { border-radius: 3%; }
.card { padding: 5px; height: 100%; width: 100%; }
.card .first-letter { font-size: large; height: 10%; width: 100%; }
.card img { width: 100%; height: 50%; border-radius: 3% 3% 0% 0%; }
.card .list-info { margin: 0; padding: 10px; height: 40%; width: 100%;
    background-color: rgb(204, 204, 206); border-radius: 0% 0% 3% 3%; }

.card .list-info-name { height: 40%; }
.card ul { margin: 0; padding: 0; height: 60%; }
.card li { height: 50%; }
.card a {
    background-color: rgb(35, 77, 155); display: block;
    height: 80%;  color: white; text-align: center; }

.card a:hover { background-color: rgb(63, 91, 182); }
